# Best model coefficients by mortality group
- Standardised coefficient plots count/cmass
- Coefficient table for count/cmass

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
# Load libraries
import numpy as np
import pandas as pd
import sys
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) # ignore Future deprecation warning
import os
import pickle

from classes import boundaries as bd

%config Completer.use_jedi = False 


#--- Notebook run settings
run = 'command line' # 'manual' 'command line'
#run = 'manual'



#--- Arguments
if run == 'command line':
    # Read command line arguments
    arguments = os.environ['NB_ARGS']
    date_exp_str_full, date_exp_str_managed = arguments.split(',')

elif run == 'manual':
    standardise_covars = True        # Standardise the covariates before running model selection
    date_exp_str_full    = '230207_Full'
    date_exp_str_managed = '230207_Management'

In [3]:
#---------------#
#  Import data  #
#---------------#


with open(date_exp_str_full+'_Table5_Full_covariate_coefficients.pkl','rb') as f:
    df_cov_full = pickle.load(f)
bd.print_header('Full set')
display(df_cov_full)
with open(date_exp_str_managed+'_Table5_Management_covariate_coefficients.pkl','rb') as f:
    df_cov_managed = pickle.load(f)  
bd.print_header('Management subset')    
display(df_cov_managed)

#--------------#
#   Full set   #
#--------------#

Coefficients         Intercept                  DBH_mean               \
MTF_type                 count        cmass        count        cmass
Level   Mortality
Site    M_All      2.51 (0.22)   3.1 (0.23)  0.03 (0.01)  0.03 (0.01)
        M_Fire     1.57 (0.37)   2.2 (0.44)  0.04 (0.01)  0.04 (0.01)
        M_NoFire    3.2 (0.14)  3.83 (0.15)          NaN          NaN
        M_Other    3.33 (0.16)  3.97 (0.17)          NaN          NaN
Species M_All      1.38 (0.21)  1.56 (0.24)   0.04 (0.0)   0.04 (0.0)
        M_Fire     0.24 (0.28)  0.39 (0.33)   0.04 (0.0)   0.04 (0.0)
        M_NoFire    2.5 (0.16)  2.79 (0.18)  0.02 (0.01)  0.02 (0.01)
        M_Other     2.5 (0.17)   2.8 (0.19)  0.02 (0.01)  0.02 (0.01)

Coefficients                MAT                        PFT               \
MTF_type                  count         cmass        count        cmass
Level   Mortality
Site    M_All      -0.11 (0.02)  -0.13 (0.03)          NaN          NaN
        M_Fire              NaN           NaN          NaN          NaN
        M_NoFire    -0.1 (0.02)  -0.12 (0.02)          NaN          NaN
        M_Other    -0.12 (0.03)  -0.14 (0.03)          NaN          NaN
Species M_All      -0.12 (0.02)  -0.13 (0.02)  0.42 (0.14)  0.46 (0.16)
        M_Fire              NaN           NaN          NaN          NaN
        M_NoFire   -0.13 (0.02)  -0.14 (0.02)  0.39 (0.14)  0.41 (0.15)
        M_Other    -0.13 (0.02)  -0.15 (0.02)  0.49 (0.14)   0.5 (0.15)

Coefficients          Humidity
MTF_type                 count        cmass
Level   Mortality
Site    M_All              NaN          NaN
        M_Fire             NaN          NaN
        M_NoFire           NaN          NaN
        M_Other            NaN          NaN
Species M_All      0.36 (0.08)  0.42 (0.09)
        M_Fire      0.8 (0.13)  0.91 (0.16)
        M_NoFire           NaN          NaN
        M_Other            NaN          NaN

#-----------------------#
#   Management subset   #
#-----------------------#

Coefficients         Intercept                  DBH_mean               \
MTF_type                 count        cmass        count        cmass
Level   Mortality
Site    M_All      2.64 (0.22)  3.25 (0.23)  0.03 (0.01)  0.03 (0.01)
        M_Fire     1.44 (0.37)   2.12 (0.4)  0.05 (0.01)  0.05 (0.01)
        M_NoFire   3.25 (0.15)   3.9 (0.16)          NaN          NaN
        M_Other     3.4 (0.16)  4.06 (0.17)          NaN          NaN
Species M_All       1.4 (0.22)  1.61 (0.24)   0.04 (0.0)   0.04 (0.0)
        M_Fire     1.49 (0.22)  1.82 (0.25)   0.05 (0.0)  0.05 (0.01)
        M_NoFire   2.51 (0.16)  2.82 (0.18)  0.02 (0.01)  0.02 (0.01)
        M_Other    2.53 (0.17)  2.86 (0.19)  0.02 (0.01)  0.02 (0.01)

Coefficients                MAT                        PFT               \
MTF_type                  count         cmass        count        cmass
Level   Mortality
Site    M_All      -0.09 (0.02)  -0.11 (0.02)          NaN          NaN
        M_Fire              NaN           NaN          NaN          NaN
        M_NoFire   -0.11 (0.02)  -0.13 (0.02)          NaN          NaN
        M_Other    -0.12 (0.03)  -0.15 (0.03)          NaN          NaN
Species M_All      -0.13 (0.02)  -0.14 (0.02)  0.46 (0.14)   0.5 (0.16)
        M_Fire              NaN           NaN          NaN          NaN
        M_NoFire   -0.13 (0.02)  -0.14 (0.02)  0.44 (0.14)  0.44 (0.15)
        M_Other    -0.14 (0.02)  -0.15 (0.02)  0.52 (0.14)  0.52 (0.15)

Coefficients          Humidity                    Managed
MTF_type                 count        cmass         count         cmass
Level   Mortality
Site    M_All              NaN          NaN  -0.69 (0.21)  -0.78 (0.22)
        M_Fire             NaN          NaN           NaN           NaN
        M_NoFire           NaN          NaN           NaN           NaN
        M_Other            NaN          NaN           NaN           NaN
Species M_All      0.32 (0.08)  0.36 (0.09)           NaN           NaN
        M_Fire             NaN          NaN           NaN           NaN
        M_NoFire           NaN          NaN           NaN           NaN
        M_Other            NaN          NaN           NaN           NaN

In [4]:
bd.print_header('Table 5')
table5_MS = pd.concat([df_cov_managed.iloc[0,:].to_frame().T, df_cov_full.iloc[1:,:]],axis=0)
display(table5_MS)

#-------------#
#   Table 5   #
#-------------#

Coefficients        Intercept                  DBH_mean               \
MTF_type                count        cmass        count        cmass
Site    M_All     2.64 (0.22)  3.25 (0.23)  0.03 (0.01)  0.03 (0.01)
        M_Fire    1.57 (0.37)   2.2 (0.44)  0.04 (0.01)  0.04 (0.01)
        M_NoFire   3.2 (0.14)  3.83 (0.15)          NaN          NaN
        M_Other   3.33 (0.16)  3.97 (0.17)          NaN          NaN
Species M_All     1.38 (0.21)  1.56 (0.24)   0.04 (0.0)   0.04 (0.0)
        M_Fire    0.24 (0.28)  0.39 (0.33)   0.04 (0.0)   0.04 (0.0)
        M_NoFire   2.5 (0.16)  2.79 (0.18)  0.02 (0.01)  0.02 (0.01)
        M_Other    2.5 (0.17)   2.8 (0.19)  0.02 (0.01)  0.02 (0.01)

Coefficients               MAT                        PFT               \
MTF_type                 count         cmass        count        cmass
Site    M_All     -0.09 (0.02)  -0.11 (0.02)          NaN          NaN
        M_Fire             NaN           NaN          NaN          NaN
        M_NoFire   -0.1 (0.02)  -0.12 (0.02)          NaN          NaN
        M_Other   -0.12 (0.03)  -0.14 (0.03)          NaN          NaN
Species M_All     -0.12 (0.02)  -0.13 (0.02)  0.42 (0.14)  0.46 (0.16)
        M_Fire             NaN           NaN          NaN          NaN
        M_NoFire  -0.13 (0.02)  -0.14 (0.02)  0.39 (0.14)  0.41 (0.15)
        M_Other   -0.13 (0.02)  -0.15 (0.02)  0.49 (0.14)   0.5 (0.15)

Coefficients         Humidity                    Managed
MTF_type                count        cmass         count         cmass
Site    M_All             NaN          NaN  -0.69 (0.21)  -0.78 (0.22)
        M_Fire            NaN          NaN           NaN           NaN
        M_NoFire          NaN          NaN           NaN           NaN
        M_Other           NaN          NaN           NaN           NaN
Species M_All     0.36 (0.08)  0.42 (0.09)           NaN           NaN
        M_Fire     0.8 (0.13)  0.91 (0.16)           NaN           NaN
        M_NoFire          NaN          NaN           NaN           NaN
        M_Other           NaN          NaN           NaN           NaN